* {
  box-sizing: border-box;
  font-family: 'Mukta Mahee', sans-serif;
  background-image: linear-gradient(blue, yellow);
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;

  text-align: center;
  font-size: 24px;
  color: darkorchid;
  width: 800px;
}

h1{
  text-align: center;
  font-weight: normal;
  font-size: 32px;
  color: rebeccapurple;
  border-style: solid;
}

h2{
  text-align: center;
  font-weight: normal;
  font-size: 28px;
  color: rebeccapurple;
  border-style: solid;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: auto;
  width: auto;
}

.content {
  height: 100%;
  width: 100%;
}

/* New Code */

.column {
    float: left;
    width: 25%;
}
