* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(#9cc7de, #dedb9c);

  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;

  text-align: center;
  font-size: 24px;
  color: #f7fafb;
  width: 800px;
}

h1{
  text-align: center;
  font-family: 'Codystar', cursive;
  font-weight: normal;
  font-size: 64px;
  color: #f7fafb;
}

.innertext {
  text-align: center;
  width: 50%;
  font-size: 20px;
}

.maintext {
  text-align:center;
  display:block;
}

p{
  text-align:center;
  display:block;

  font-size: 20px;
  color:#f7fafb;
  font-family: 'Gaegu', cursive;
  width: 50%;

  margin-left: 25%;
  margin-right: 25%;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: auto;
  width: auto;
}

.content {
  height: 100%;
  width: 100%;
}

.column {
    float: left;
    position: relative;
    width: 25%;
    line-height: 0;
}

/* Opacity Box Code :-) */

.text {
  font-family: 'Gaegu', cursive;
  color: #f7fafb;
  font-size: 72px;
}

/* 2016 */

.main_2016.png {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.six:hover img {
  opacity: 0.3;
}

.six:hover .middle {
  opacity: 1;
}

/* 2017 */

.main_2017.png {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.seven:hover img {
  opacity: 0.3;
}

.seven:hover .middle {
  opacity: 1;
}

/* 2018 */

.main_2018.png {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.eight:hover img {
  opacity: 0.3;
}

.eight:hover .middle {
  opacity: 1;
}

/* Picture of me aka my Github */

.main_me.png {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.github:hover img {
  opacity: 0.3;
}

.github:hover .middle {
  opacity: 1;
}





















